html
  head
    style
      include style.css
  body
    div.wrapper
      div
        include ../../includes/header.pug
        p Olá <b>#{name}</b>!<br>
        p Parabéns! Seu cadastro foi aprovado.
        p Agora você já pode realizar seu acesso no site e realizar seus lances
        p Agradecemos por seu cadastro!
        include ../../includes/footer.pug